/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	width:100%;
	font-family:sans-serif,arial;
	text-align:center;
	
}
header{
	font-size:10px;
	border:none;
	background-color:#ffffff;
	
}
.book-library{
	background-color:#ffffff;
}
.book{
	background-color:#777777;
	padding:30px;
	border: 5px solid #ffffff;
	border-shadow: 2px 5px 0.2px;
	
}
h2{
	color: #ffffff;
	text-align:left;
}
p{
	color: #ffffff;
	text-align:left;
}
button{
	background-color: #2ecc71;
	border-collapse:collapse;
	border:none;
	width:100%;
	height:30px;
	color:white;
	font-weight:bold;
	text-align:center;
	transition: 0.5s ease;
	cursor:pointer;
	
}
button :hover{
	color: black;
}